.mainMenu {
	display: block;

	.dataWrapper {
		display: block;

		.childrenList {
			margin-left: 12px;

			.menuItemWrapper {
				.menuItem {
					display: grid;
					align-items: center;

					grid-template-columns: auto 20px;
					grid-template-areas: "title icon";

					.title {
						grid-area: title;
					}

					.icon {
						cursor: pointer;
						transition: 100ms;
						grid-area: icon;
					}
				}

				.menuOpenItem {
					font-weight: bolder;

					.icon {
						transform: rotate(90deg);
					}
				}

				.menuActiveItem {
					background-color: var(--gray-light);

					.title {
						font-style: italic;
					}
				}
			}
		}

		.hideList {
			display: none;
		}
	}
}
