@import "../../styles/globals.module.scss";

.cardInfo {
	display: grid;

	height: 400px;

	border: 1px solid red;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto 1fr;
	gap: 30px;
	grid-template-areas:
		"title title"
		"fields pictures";

	.title {
		display: grid;
		grid-area: title;
		grid-template-columns: 1fr auto;
		gap: 10px;
		grid-template-areas: "name rating";

		padding: 25px;

		border: 1px solid green;

		.name {
			border: 1px solid blue;

			font-weight: 700;
			grid-area: name;
		}

		.rating {
			border: 1px solid red;

			font-weight: 500;
			grid-area: rating;
		}

		@media (max-width: 765px) {
			color: $primary-color;
			grid-template-columns: 1fr;
			grid-template-rows: 1fr 1fr;
			grid-template-areas: "name" "rating";
		}
	}

	.fields {
		grid-area: fields;

		border: 1px solid blue;

		.field {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-areas: "name value";

			.name {
				grid-area: name;

				border: 1px solid red;
			}

			.value {
				grid-area: value;

				border: 1px solid green;
			}

			@media (max-width: 765px) {
				grid-template-columns: 1fr;
				grid-template-rows: 1fr 1fr;

				grid-template-areas: "name" "value";
			}
		}
	}

	.pictures {
		grid-area: pictures;

		border: 1px solid blueviolet;

		.picture {
			align-content: center;
			justify-content: center;

			height: 200px;

			text-align: center;

			border: 1px solid red;

			img {
				max-width: 150px;
				max-height: 150px;
			}
		}

		.preview {
			display: grid;
			justify-content: center;

			padding: 10px 30px;

			border: 1px solid orangered;
			grid-auto-flow: column;

			.picture {
				align-content: center;
				justify-content: center;

				width: 50px;
				height: 50px;

				text-align: center;

				border: 1px solid green;

				img {
					max-width: 50px;
					max-height: 50px;
				}
			}
		}
	}
}
