.menu {
	margin: 5px;

	.firstLevel {
		color: darkviolet;

		.secondLevel {
			margin-left: 12px;

			color: red;

			.thirdLevel {
				margin-left: 12px;

				color: blue;

				.fourthLevel {
					margin-left: 12px;

					color: green;
				}

				.active {
					font-weight: bolder;
				}
			}
		}
	}
}
