.wrapper {
	display: grid;
	grid-template-columns: auto 230px minmax(320px, 1200px) auto;
	grid-template-rows: auto 1fr auto;

	min-height: 100vh;
	grid-template-areas:
		". header header ."
		". sidebar body ."
		"footer footer footer footer";

	.header {
		grid-area: header;

		//display: none;
		//@media (max-width: 765px) {
		//	display: block;
		//}
	}

	.sidebar {
		grid-area: sidebar;

		border-right: 2px solid var(--gray-dark);

		@media (max-width: 765px) {
			display: none;
		}
	}

	.body {
		grid-area: body;

	}

	.footer {
		grid-area: footer;

		border-top: 2px solid var(--gray-dark);
	}

	@media (max-width: 765px) {
		grid-template-columns: minmax(320px, 1fr);
		grid-template-areas:
			"header"
			"body"
			"footer";
	}
}
